@{
    ViewData["Title"] = "Index";
}
<h1 align="center">
    <ul>
        <li><a href="https://localhost:44370/information">information</a></li>
    </ul>
</h1>
<h2 align="center"><img src="~/img/greenfox.png"></h2>

<p align="center">Hello from our View Template!</p>
