@using FoxClub.Services
@using FoxClub.Models
@model Fox

<h1 align="center">
    
       <a href="https://localhost:44370/informatin">information</a> 
    
</h1>
<h2 align="center"><img src="~/img/greenfox.png"></h2>

<p align="center">@Model.Name</p>




